*.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
*.egg
*.whl
*.coverage
*.cover
*.hypothesis/
*.tox/
*.mypy_cache/   
*.pytest_cache/
*.coverage.*
*.coveragerc
*.DS_Store  
*.idea/
*.vscode/
*.ipynb_checkpoints
*.env
# Ignore Python virtual environments
**/myenv/
**/venv/